[Unit]
Description=honeypot ncat daemon
After=network.target syslog.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ncat-honeypot
RemainAfterExit=true
ExecStop=/usr/local/bin/killhony
#StandardOutput=journal

[Install]
WantedBy=multi-user.target 
