[Unit]
Description=honeypot ncat daemon
After=network.target syslog.target iptables.service ipset.service

[Service]
Type=simple
Restart=always
ExecStart=/bin/bash /usr/local/bin/ncat-honeypot
RemainAfterExit=true
ExecStop=/bin/bash /usr/local/bin/killhony
#StandardOutput=journal

[Install]
WantedBy=multi-user.target

